<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Pet Adoption Agency</title>
</head>
<body>
    {% for msg in get_flashed_messages() %}
        <p class="flash">{{ msg }}</p>
    {% endfor %}
    {% block title %} title goes here {% endblock %}
    <!-- the % block content, does not have to be named content, it just so the template can find where to insert itself -->
    {% block content %} content goes here {% endblock %}


</body>
</html>

