<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes</title>
</head>
<body>
    <section>
        <h3>Get List of Cupcakes</h3>
        <ul id="cupcake-list">

        </ul>    
    </section>
    
    <form action="">
        <label for=""></label>
    </form>

<script src="https://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/cupcakes.js"></script>
</body>
<script src=""></script>
</html>